@model RealSurfLab.Models.DBModels.User

@{
    ViewBag.Title = "Index";//заголовок страницы
}

<h2>Информация о продавце</h2>
Никнейм:  @Model.Nickname
<br>
Фамилия: @Model.LastName
<br>
Имя: @Model.Name
<br>
Почка: @Model.Email
<br>
О себе: @Model.About

